
/*version de celular*/   /* mq */

@media screen and (min-width:413px){
  header{
      display: block;
      display: flex;
      justify-content: space-around;
      
      
  }
  header nav ul li{
      background-color: wheat;
      padding: 7px;
      text-shadow: 1px 0.4px black;
      text-align: center;
      border-radius: 10px;
      box-shadow: 1px 0.4px black;
      transition: 0.3s;
      z-index: 100px;
  }


  nav ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: wrap;
     
      
  }
  }

