//colores
$color-texto:rgb(36, 35, 35);
$color-titulo-footer-botones:rgb(255, 255, 255);
$color-header:rgb(83, 83, 83);
$color-botones-hover:rgb(68, 65, 65);
$color-borde-botones:rgb(218, 127, 127)00;
